<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Graphique des Températures</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      function loadJSON(path, success, error){
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function()
        {
          if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                  if (success)
                      success(JSON.parse(xhr.responseText));
              } else {
                  if (error)
                      error(xhr);
              }
          }
        };
        xhr.open("GET", path, true);
        xhr.send();
      }
     
      google.charts.load("current", {packages:["corechart"]});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
          loadJSON('https://Jeksos.alwaysdata.net/tawarano/',
         function(data) {
           var resultat=data.results;
           var tableau = [['Jour', 'Température (°C)']];

           for(var i=0;i<resultat.length;i++){
             tableau.push([new Date(resultat[i].Jour * 1000).toLocaleDateString('fr-FR', { day: 'numeric', month: 'long', year: 'numeric', hour: '2-digit', minute: '2-digit' }), resultat[i].temp]);
           }
           
           var data = google.visualization.arrayToDataTable(tableau);

            var options = {
            title: 'Prévisions Météo à Tawarano',
            legend: {  position: 'top', alignment: 'center' },
             hAxis: {
                            title: 'Jour',
                            format: 'dd MMM yyyy HH:mm',
                            gridlines: { count: 15 }
                        },
                        vAxis: {
                            title: 'Température (°C)',
                            gridlines: { count: 10 }
                        },
                        colors: ['#76A7FA'],
                        histogram: { bucketSize: 1 }
                    };
            var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
            chart.draw(data, options);
           
          },
         function(xhr) { console.error(xhr); }
        );
       
       
      }
    </script>
  </head>
  <body>
	<h1>Graphique des Températures</h1>
    <div id="chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>
